<!DOCTYPE html>
<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script>
	$(document).ready(function(){
		$("#myModal").modal('show');
      	});
</script>
<style>
   
   .btn-group button {
     background-color: #4CAF50; /* Green background */
     border: 1px solid green; /* Green border */
     color: white; /* White text */
     padding: 10px 24px; /* Some padding */
     cursor: pointer; /* Pointer/hand icon */
     float: left; /* Float the buttons side by side */
   }
   
   /* Clear floats (clearfix hack) */
   .btn-group:after {
     content: "";
     clear: both;
     display: table;
   }
   
   .btn-group button:not(:last-child) {
     border-right: none; /* Prevent double borders */
   }
   
   /* Add a background color on hover */
   .btn-group button:hover {
     background-color: #3e8e41;
     
   }

   html {
      scroll-behavior: smooth;
   }
   
   #section1 {
   }
   
   #section2 {
   }
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: inherit;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 8.5s;
  animation-name: fade;
  animation-duration: 4.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
 </style>
</head>
<body>
   <div id="myModal" class="modal fade">
      <div class="modal-dialog" style="width:inherit">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">Covid-19</h4>
              </div>
              <div class="modal-body" style="width: inherit" >
              <a href="#" title="Gov-helpline-link" target="_blank">
               <img src="{{url_for('static',filename='safe.jpeg')}}" style="width: 100%; height:100%">
             </a>
              </div>
          </div>
      </div>
  </div>
<nav class="navbar navbar-inverse" style="background-image: url('/static/cv3.gif');" >
   <span class="navbar-text">
      <h3 style="background-color: green;"><b>COVID-19 Probability Detection</b></h3>
      <h3 style="color: black;"><b>Prevention is better than cure</b></h3>
   </span>
      <!--
      <a href="https://www.whatsapp.com/coronavirus/" title="Gov-helpline-link" target="_blank">
         <img src="{{url_for('static',filename='whatsapp_help.jpg')}}" style="width: 80px; height: 60px; float: right; margin-top: 6px; margin-bottom: 6px; padding-right: 20px;">
      </a>
      <a href="https://www.mygov.in/covid-19/?cbps=1" title="Gov-helpline-link" target="_blank">
         <img src="{{url_for('static',filename='help.jpg')}}" style="margin-top: 6px; width: 80px; height: 60px; margin-bottom: 6px; padding-left: 20px;">
      </a>
      <a href="https://www.mohfw.gov.in/pdf/ProtectivemeasuresEng.pdf" title="Gov-helpline-link" target="_blank">
         <img src="{{url_for('static',filename='fight1.jpg')}}" style="margin-top: 6px; width: 120px; height: 60px; margin-bottom: 6px; padding-left: 20px;">
      </a> -->
</nav>
<nav class="navbar" style="background-color:transparent;">
   <div class="">
     <div class="">
       <a class="" style="color: black;"><marquee behavior="scroll" direction="right"><b>The Helpline Number for corona-virus : +91-11-23978046 or 1075</b></marquee></a>
     </div>
   </div>
<div id="section1" class="btn-group" style="margin-right: inherit;">
<button><a href="/precaution"  style="color: white;">precautions & measures</a></button>
<button><a href="https://www.pmindia.gov.in/en/?query#"  target="_blank" style="color: white;">PM Care Fund</a></button>
<button><a href="https://www.mygov.in/group-issue/share-your-ideas-suggestions-help-fight-coronavirus/?utm_source=webcampaign&group_issue&285571"  target="_blank" style="color: white;">Join Discussion</a></button>
<button><a href="http://aadityapritam.thehacktivist.tech/"  style="color: white;">Download App</a></button>
<!-- <button><a href="#section2" style="color: white;">Food Helpline Detail</a></button> -->
<button><a href="#section3" style="color: white;">Self Assessment</a></button>
<button><a href="https://www.mohfw.gov.in/dashboard/index.php" style="color: white;">See Impact on India</a></button>
<a href="https://www.mygov.in/" title="Gov-helpline-link" target="_blank">
   <img src="{{ url_for('static', filename='mygov_logo.png')}}" style="width: 120px; height: 42px; ">
   </a>
</div>
</nav>
<marquee behavior="scroll" direction="right" style="background-color:transparent;"><h3><b>The most important factor in preventing the spread of the Virus locally is to empower the citizens with the right information and taking precautions!</b></h3></marquee>
<table class="table table-striped">
   <div class="slideshow-container">
   <div class="mySlides fade">
     <div class="numbertext">1 / 3</div>
     <img src="/static/modi.jpg" style="width:100%">
   </div>
   
   <div class="mySlides fade">
     <div class="numbertext">2 / 3</div>
     <img src="/static/jitega.jpeg" style="width:100%">
   </div>
   
   <div class="mySlides fade">
     <div class="numbertext">3 / 3</div>
     <img src="/static/modi1.jpeg" style="width:100%">
   </div>
   </div>
   <br> 
   <div style="text-align:center">
     <span class="dot"></span> 
     <span class="dot"></span> 
     <span class="dot"></span> 
   </div>
   
   <script>
   var slideIndex = 0;
   showSlides();
   
   function showSlides() {
     var i;
     var slides = document.getElementsByClassName("mySlides");
     var dots = document.getElementsByClassName("dot");
     for (i = 0; i < slides.length; i++) {
       slides[i].style.display = "none";  
     }
     slideIndex++;
     if (slideIndex > slides.length) {slideIndex = 1}    
     for (i = 0; i < dots.length; i++) {
       dots[i].className = dots[i].className.replace(" active", "");
     }
     slides[slideIndex-1].style.display = "block";  
     dots[slideIndex-1].className += " active";
     setTimeout(showSlides, 4000); // Change image every 2 seconds
   }
   </script>
   <div style="width: inherit; height: 350px; " >
      <img src="/static/corona-fight.jpg" alt="India fight corona" style="width: 100%; height: 300px;">
   <!-- <marquee behavior="scroll" direction="right" style="background-image: url('/static/corona-fight.jpg'); height: 300px;"></marquee>          -->
  </div>
   <table class="table table-striped">
          <tbody>
             <tr>
                <td colspan="1">
                   <form class="well form-horizontal"  action="/" method="POST">
                     <fieldset>
                         <div id="section3" class="form-group" style="width: inherit;">
                            <h3>Self Assessment</h3>
                            <label class="col-md-4 control-label">Full Name</label>
                            <div class="col-md-8 inputGroupContainer">
                               <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span><input id="fullname" name="fullname" placeholder="Full Name" class="form-control" required="true" value="" type="text"></div>
                            </div>
                         </div>
                         <div class="form-group">
                            <label class="col-md-4 control-label">Cough</label>
                            <div class="col-md-8 inputGroupContainer">
                               <div class="input-group">
                                  <span class="input-group-addon" style="max-width: 100%;"><i class="glyphicon glyphicon-list"></i></span>
                                  <select class="selectpicker form-control" name="cough">
                                     <option value="1">Yes</option>
                                     <option value="0">No</option>
                                  </select>
                               </div>
                            </div>
                         </div>
                         <div class="form-group">
                            <label class="col-md-4 control-label">Runny Nose</label>
                            <div class="col-md-8 inputGroupContainer">
                               <div class="input-group">
                                  <span class="input-group-addon" style="max-width: 100%;"><i class="glyphicon glyphicon-list"></i></span>
                                  <select class="selectpicker form-control" name="runny_nose">
                                     <option value="1">Yes</option>
                                     <option value="0">No</option>
                                  </select>
                               </div>
                            </div>
                         </div>
                         <div class="form-group">
                              <label class="col-md-4 control-label" >Fever</label>
                              <div class="col-md-8 inputGroupContainer">
                                 <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span><input id="fever" name="fever" placeholder="98-104" class="form-control" required="true" value="" type="text"></div>
                              </div>
                         </div>
                         <div class="form-group">
                            <label class="col-md-4 control-label">Tightness of chest</label>
                            <div class="col-md-8 inputGroupContainer">
                               <div class="input-group">
                                  <span class="input-group-addon" style="max-width: 100%;"><i class="glyphicon glyphicon-list"></i></span>
                                  <select class="selectpicker form-control" name="chest">
                                     <option value="-1">No</option>
                                     <option value="0">Very less</option>
                                     <option value="1">High</option>
                                  </select>
                               </div>
                            </div>
                         </div>
                         <div class="form-group">
                            <label class="col-md-4 control-label">Breathing Problem</label>
                            <div class="col-md-8 inputGroupContainer">
                               <div class="input-group">
                                  <span class="input-group-addon" style="max-width: 100%;"><i class="glyphicon glyphicon-list"></i></span>
                                  <select class="selectpicker form-control" name="breathing">
                                     <option value="-1">No</option>
                                     <option value="0">very less</option>
                                     <option value="1">High</option>
                                  </select>
                               </div>
                            </div>
                         </div>
                         <div class="form-group">
                            <label class="col-md-4 control-label">Headache</label>
                            <div class="col-md-8 inputGroupContainer">
                               <div class="input-group">
                                  <span class="input-group-addon" style="max-width: 100%;"><i class="glyphicon glyphicon-list"></i></span>
                                  <select class="selectpicker form-control" name="headache">
                                     <option value="-1">No</option>
                                     <option value="0">Very less</option>
                                     <option value="1">High</option>
                                  </select>
                               </div>
                            </div>
                         </div>
                         <div class="form-group">
                            <label class="col-md-4 control-label">Pneumonia</label>
                            <div class="col-md-8 inputGroupContainer">
                               <div class="input-group">
                                  <span class="input-group-addon" style="max-width: 100%;"><i class="glyphicon glyphicon-list"></i></span>
                                  <select class="selectpicker form-control" name="pneumonia">
                                     <option value="1">Yes</option>
                                     <option value="0">No</option>
                                  </select>
                               </div>
                            </div>
                         </div>
                         <div class="form-group">
                            <label class="col-md-4 control-label" >Age</label>
                            <div class="col-md-8 inputGroupContainer">
                               <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span><input id="age" name="age" placeholder="How old you are" class="form-control" required="true" value="" type="text"></div>
                            </div>
                         </div>
                         <div class="form-group">
                            <label class="col-md-4 control-label">Gender</label>
                            <div class="col-md-8 inputGroupContainer">
                               <div class="input-group">
                                  <span class="input-group-addon" style="max-width: 100%;"><i class="glyphicon glyphicon-list"></i></span>
                                  <select class="selectpicker form-control" name="gender">
                                     <option value="0">Male</option>
                                     <option value="1">Female</option>
                                  </select>
                               </div>
                            </div>
                         </div>
                         <div class="form-group">
                            <label class="col-md-4 control-label">Travelled in Last 15 days</label>
                            <div class="col-md-8 inputGroupContainer">
                               <div class="input-group">
                                  <span class="input-group-addon" style="max-width: 100%;"><i class="glyphicon glyphicon-list"></i></span>
                                  <select class="selectpicker form-control" name="travel_15days">
                                     <option value="1">Yes</option>
                                     <option value="0">No</option>
                                  </select>
                               </div>
                            </div>
                         </div>
                      </fieldset>
                      <p>
                        <button type="submit" style="background-color:#3e8e41; float: right; width: 150px; height: 40px;">Submit</button>
                     </p>
                     </form>
                     <!-- <div id="section2" class="well form-horizontal" style="background-image: url('/static/food.jpeg'); width:initial; height: 300px;"></div> -->
                     <nav class="navbar navbar-inverse " style="background-color:#3e8e41;">
                        <div class="">
                          <div class="navbar-header" style="color:black;">
                            <a class="navbar-brand" href="#" style="color: black;"><marquee behavior="scroll" direction="right" width=100%>The Helpline Number for corona-virus : +91-11-23978046 or 1075</marquee></a>
                          </div>
                        </div>
                      </nav>
                </td>
             </tr>
          </tbody>
       </table>
    </div>
</body>
</html>
