<!DOCTYPE html>
<head>
</head>
<body>
    <nav class="navbar " style="background-color:grey">
        <span class="navbar-text">
           <p style="background-color: green;">COVID-19 Precautions & Measures</p>
           <h4 style="color: black;">Prevention is better than cure</h4>
        </span>
        <a href="\">
            <button type="submit" style="background-color: darkolivegreen; size: 50px;">Go Back/Home</button>
        </a> 
           <!-- <div class=hv>
           <a href="https://www.mygov.in/" title="Gov-helpline-link" target="_blank">
           <img src="{{url_for('static',filename='mygov_logo.png')}}" style="width: 80px; height: 60px; float: right; margin-top: 6px; margin-bottom: 6px; padding-right: 10px; ">
           </a>
           <a href="https://www.whatsapp.com/coronavirus/" title="Gov-helpline-link" target="_blank">
              <img src="{{url_for('static',filename='whatsapp_help.jpg')}}" style="width: 80px; height: 60px; float: right; margin-top: 6px; margin-bottom: 6px; padding-right: 20px;">
           </a>
           <a href="https://www.mygov.in/covid-19/?cbps=1" title="Gov-helpline-link" target="_blank">
              <img src="{{url_for('static',filename='help.jpg')}}" style="margin-top: 6px; width: 80px; height: 60px; margin-bottom: 6px; padding-left: 20px;">
           </a>
           <a href="https://www.mohfw.gov.in/pdf/ProtectivemeasuresEng.pdf" title="Gov-helpline-link" target="_blank">
              <img src="{{url_for('static',filename='fight1.jpg')}}" style="margin-top: 6px; width: 120px; height: 60px; margin-bottom: 6px; padding-left: 20px;">
           </a> -->
           </div> 
     </nav>
     <div style="width: inherit; height: 350px; " >
        <h3>(1)WASH YOUR HAND REGULARLY </h3>
        <img src="/static/wash.jpg" alt="India fight corona" style="width: 100%; height: 100%;">
     <!-- <marquee behavior="scroll" direction="right" style="background-image: url('/static/corona-fight.jpg'); height: 300px;"></marquee>          -->
    </div>
    <br>
    <div style="width: inherit; height: 350px; " >
        <H3>(2)USE MASK</H3>
        <img src="/static/mask.jpg" alt="India fight corona" style="width: 100%; height:300px">
     <!-- <marquee behavior="scroll" direction="right" style="background-image: url('/static/corona-fight.jpg'); height: 300px;"></marquee>          -->
    </div>
    <div style="width: inherit; height: 350px; " >
        <h3>(3)PHYSICAL/SOCIAL DISTANCING</h3>
        <img src="/static/dist.webp" alt="India fight corona" style="width: 100%; height: 300px;">
     <!-- <marquee behavior="scroll" direction="right" style="background-image: url('/static/corona-fight.jpg'); height: 300px;"></marquee>          -->
    </div>
    <div style="width: inherit; height: 350px; " >
        <h3>(4)GET UPDATED AND TAKE SUGGESTION REGULARLY</h3>
        <img src="/static/info.webp" alt="India fight corona" style="width: 100%; height: 100%;">
     <!-- <marquee behavior="scroll" direction="right" style="background-image: url('/static/corona-fight.jpg'); height: 300px;"></marquee>          -->
    </div>
    <br>
    <br>
    <br>
    <div style="width: inherit; height: 350px; " >
        <h3>PRECAUTIONS & MEASURES</h3>
        <img src="/static/prec1.jpg" alt="India fight corona" style="width: 100%; height: 100%;">
     <!-- <marquee behavior="scroll" direction="right" style="background-image: url('/static/corona-fight.jpg'); height: 300px;"></marquee>          -->
    </div>
    <nav class="navbar navbar-inverse " style="background-color:#3e8e41;">
        <div class="">
            <a href="\">
                <button type="submit" style="background-color: darkolivegreen; size: 50px; width: 300px; height: 100px;">Go Back/Home</button>
            </a>
        </div>
      </nav>
    
</body>